extends ../basic_layout
block content
    link(rel='stylesheet', href='/toggle-pass/css/show-password-toggle.css')
    style.
        button#toggle-rep-password {
            position: absolute;
            top: 3px;
            right: 4px;
            z-index: 9;
            width: 28px;
            height: 30px;
            background: 0;
            border: 0;
        }

        button#toggle-rep-password:active,
        button#toggle-rep-password:focus,
        button#toggle-rep-password:hover {
            cursor: pointer;
        }

        button#toggle-rep-password:focus {
            outline: none !important;
        }

    div.container.h-100
        div.row.align-items-center.justify-content-center.h-100
            form#myForm.col-6.w-25(
                action="/api.wwi-guide.by/auth/reg-adm"
                method="POST")
                h1.text-center Introduce yourself
                div.form-group
                    label.form-label(for='loginField') Login
                    input#loginField.form-control(
                        type='text'
                        name='login'
                        placeholder='Username'
                        required=''
                        minlength=4
                        maxlength=48)
                label.form-label(for='passwordContainer') Password
                div#passwordContainer.input-group
                    input#passwordField.form-control.rounded(
                        type='password'
                        name='password'
                        required=''
                        minlength=6
                        maxlength=18
                        pattern="^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%^&+=_])(?=\\S+$).{6,18}$"
                        title="Require: " +
                        "1 letter (p); " +
                        "1 capitalize letter (P); " +
                        "1 unique symbol (@, #, $, %, ^, +, =, _); " +
                        "1 number; " +
                        "without space; " +
                        "6-18 symbols")
                    button#toggle-password.d-none(type='button'
                        aria-label='Show password as plain text. Warning: this will display your password on the screen.')
                label.form-label(for='repeatPasswordContainer') Repeat password
                div#repeatPasswordContainer.input-group
                    input#repeatPasswordField.form-control.rounded(
                        type='password'
                        name='password'
                        required=''
                        minlength=6
                        maxlength=18)
                    button#toggle-rep-password.d-none(type='button'
                        aria-label='Show password as plain text. Warning: this will display your password on the screen.')
                div.row.form-group
                    p#resMsg(hidden='' style='color: red') Error response
                div.row.form-signin
                    button#btnSubmit.col.btn.btn-primary.m-1(type='submit') Register
                    a.col.btn.btn-primary.m-1(href='/' role='button') Sign in

    script(src='/toggle-pass/js/show-password-toggle.js')
    script(type='text/javascript' src='/js/auth/sign-up-toggle-password.js')
    script(type='text/javascript' src='/js/auth/sign-up-form.js')