extends ../basic_layout

block content
    div.container.h-100
        div.row.align-items-center.justify-content-center.h-100
            img.col.img-thumbnail.w-25.m-1(src="https://sun1-30.userapi.com/c851320/v851320146/1f543f/dDRICq8Lv8A.jpg")
            form#myForm.col-6.w-25(
                action="/api.wwi-guide.by/auth/login"
                method="POST")
                h1.text-center Time to write some guides
                div.form-group
                    label.form-label(for='loginField') Login
                    input#loginField.form-control(
                        type='text'
                        name='login'
                        placeholder='Username'
                        required=''
                        minlength=4
                        maxlength=48)
                label.form-label(for='passwordContainer') Password
                div#passwordContainer.input-group
                    input#passwordField.form-control.rounded(
                        type='password'
                        name='password'
                        required=''
                        minlength=6
                        maxlength=18)
                    button#toggle-password.d-none(type='button'
                        aria-label='Show password as plain text. Warning: this will display your password on the screen.')
                div.form-check
                    input#rememberMe.form-check-input(
                        value='off'
                        type='checkbox'
                        name='remember')
                    label.form-check-label(for='rememberMe')
                        | Remember me
                div.row.form-group
                    p#response(hidden='' style='color: red') Error response
                div.row.form-signin
                    button#btnSubmit.col.btn.btn-primary.m-1(type='submit') Sign in
                    a.col.btn.btn-primary.m-1(href='http://localhost:5000/reg' role='button') Sign up

    script(src='/toggle-pass/js/show-password-toggle.js')
    script(type='text/javascript').
        $(document).ready(function() {
            const loginForm = $("#myForm")
            const loginField = $("#loginField")
            const passwordField = $("#passwordField")
            const rememberMeBox = $("#rememberMe")

            rememberMeBox[0].addEventListener('change', function () {
                if (this.checked) { rememberMeBox.val('on') }
                else { rememberMeBox.val('off') }
            })

            /*$('#showPassword').on('click', function () {
                if ($(this).is(':checked')) passwordField.attr('type', 'text');
                else passwordField.attr('type', 'password')
            });*/

            let validateForm = function (event) {
                let formData = {
                    "login": loginField.val(),
                    "password": passwordField.val(),
                    "remember": rememberMeBox.val()
                }

                $.ajax({
                    url: loginForm.attr('action'),
                    type: loginForm.attr('method'),
                    headers: {'Accept': 'application/json'},
                    data: formData
                })
                    .done(() => {
                        location.href = "/home"
                    })
                    .fail((jqXHR) => {
                        let responseMsg = $("#response")
                        let errorData = $.parseJSON(jqXHR.responseText)
                        responseMsg.html(errorData.message)
                        responseMsg.removeAttr('hidden')
                    })

                event.preventDefault();
            };

            loginForm[0].addEventListener("submit", validateForm, true);
        })