mixin achievementCard(name, description, points, img, id)
    .card.border-dark.mb-3(style='max-width: 540px;')
        .row.g-0
            .col-md-4
                img.img-fluid.rounded-start-(src=img, alt='IMG')
            .col-md-8
                .card-body.text-dark
                    h5.card-title= name
                    p.card-text= description
                    p.card-text= "Points: " + points
        .row.justify-content-center
            button.btn.btn-primary.m-1.w-25(
                type='button'
                data-bs-toggle='modal',
                data-bs-target='#updateModal' + id) Update
            button.btn.btn-danger.m-1.w-25(
                type='button'
                data-bs-toggle='modal'
                data-bs-target='#deleteModal' + id) Delete
