include ../modal/modal_mixins

mixin createCard(actionName, timestamp, actionResult, id)
    .card.border-dark.mb-3.m-3(style='max-width: 400px;max-height: 280px' id='cardElem' + id)
        .row.g-0
            .col
                .card-body.text-dark.justify-content-center
                    h5.card-title(id='cardActionName' + id)= actionName
                    p.card-text(id='cardTimestamp' + id)= timestamp
                    h5.card-text(id='cardActionResult' + id)= "Action result: " + actionResult
        .mt-auto.row.justify-content-center
            button.col.btn.btn-danger.m-1.w-25(
                type='button'
                data-bs-toggle='modal'
                data-bs-target='#deleteModal'
                data-bs-whatever=id) Delete

mixin formModalByAction(actionName)
    case actionName
        when "delete"
            +formDeleteModal("log")

mixin createModals()
    +formModalByAction("delete")