mixin modalAchievements()
    #updateModal.modal.fade(
        tabindex='-1',
        aria-labelledby='modalLabel',
        aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#modalLabel.modal-title Update achievement
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    p#resMsg(hidden='' style='color: red') Error response
                    form#itemForm(action="/api.wwi-guide.by/achievements" method="PUT")
                        label.col-form-label Input new name:
                        input#nameField.form-control(
                            type='text'
                            value=''
                            required=''
                            name="name"
                            minlength=3
                            maxlength=100)

                        label.col-form-label Input new description:
                        input#descriptionField.form-control(
                            type='text'
                            value=''
                            name="description"
                            required=''
                            minlength=3
                            maxlength=100)

                        label.col-form-label Input new points:
                        input#pointsField.form-control(
                            type='number'
                            value=30
                            name="points"
                            step="5"
                            required=''
                            min="30"
                            max="100")

                        label.col-form-label Input new image url:
                        input#imgField.form-control(type='url' value='https://pixy.org/images/placeholder.png' name="img")
                        .row
                            button.col.btn.btn-primary.m-1(type='submit') Save changes
                            button.col.btn.btn-secondary.m-1(type='button', data-bs-dismiss='modal') Close

    #deleteModal.modal.fade(
        tabindex='-1',
        aria-labelledby='modalLabel',
        aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#modalLabel.modal-title Delete achievement
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    p(style='color: red') Achievement is a parent table! You cannot delete this item until it was removed from child tables!
                    p#resDelMsg(hidden='' style='color: red') Error response
                    form#itemDeleteForm(action="/api.wwi-guide.by/achievements" method="DELETE")
                        p#elementId
                        label.col-form-label Input achievement ID:
                        input#nameField.form-control(
                            type='text'
                            value=''
                            required=''
                            name="id"
                            minlength=24
                            maxlength=24)
                        .row
                            button.col.btn.btn-danger.m-1(type='submit') DELETE
                            button.col.btn.btn-secondary.m-1(type='button', data-bs-dismiss='modal') Close