mixin createLogOutModal()
    #logOutModal.modal.fade(
        tabindex='-1',
        aria-labelledby='modalLabel',
        aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#modalLabel.modal-title Log out
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    p#resMsg(hidden='' style='color: red') Error response
                    form#logOutForm(action='/api.wwi-guide.by/auth/log-out' method="POST")
                        p Are you sure that you want to log out?
                        .row
                            button.col.btn.btn-success.m-1(type='submit') Yes
                            button.col.btn.btn-danger.m-1(type='button', data-bs-dismiss='modal') No

mixin createDelModal(tableName, warningMsg, apiUrl, idLabel)
    #deleteModal.modal.fade(
        tabindex='-1',
        aria-labelledby='modalLabel',
        aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5#modalLabel.modal-title Delete #{tableName}
                    button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
                .modal-body
                    p(style='color: red')= warningMsg
                    p#resDelMsg(hidden='' style='color: red') Error response
                    form#itemDeleteForm(action=apiUrl method="DELETE")
                        p#elementId
                        label.col-form-label Input #{idLabel} ID:
                        input#nameField.form-control(
                            type='text'
                            value=''
                            required=''
                            name="id"
                            minlength=24
                            maxlength=24)
                        .row
                            button.col.btn.btn-danger.m-1(type='submit') DELETE
                            button.col.btn.btn-secondary.m-1(type='button', data-bs-dismiss='modal') Close


mixin formDeleteModal(tableName)
    case tableName
        when "achievement"
            +createDelModal(
                tableName,
                "Achievement is a parent table! You cannot delete this item until it was removed from child tables!",
                "/api.wwi-guide.by/achievements",
                tableName
            )
        when "test_theme"
            +createDelModal(
                tableName,
                "Test theme is a parent table! You cannot delete this item until it was removed from child tables!",
                "/api.wwi-guide.by/tests-themes",
            "test theme"
            )

        when "rank"
            +createDelModal(
                tableName,
                "Rank is a child table. Just be careful when deleting it.",
                "/api.wwi-guide.by/ranks",
                tableName
            )

        when "country"
            +createDelModal(
                tableName,
                "Country is a parent table! You cannot delete this item until it was removed from child tables!",
                "/api.wwi-guide.by/countries",
                tableName
            )

        when "year"
            +createDelModal(
                tableName,
                "Year is a parent table! You cannot delete this item until it was removed from child tables!",
                "/api.wwi-guide.by/years",
                tableName
            )

        when "test_question"
            +createDelModal(
                tableName,
                "Test question is a parent table! You cannot delete this item until it was removed from child tables!",
                "/api.wwi-guide.by/tests-questions",
                "test question"
            )

        when "log"
            +createDelModal(
                tableName,
                "Log only to watch what was user doing. If you no longer need it, just delete.",
                "/api.wwi-guide.by/logs",
                tableName
            )

        when "test_answer"
            +createDelModal(
                tableName,
                "Test answer is a child table. Just be careful when deleting it.",
                "/api.wwi-guide.by/tests-answers",
                "test answer"
            )

        when "user"
            +createDelModal(
                tableName,
                "User is a child table. Just be careful when deleting it.",
                "/api.wwi-guide.by/users",
                tableName
            )
        when "survey"
            +createDelModal(
                tableName,
                "Survey is a parent table! You cannot delete this item until it was removed from child tables!",
                "/api.wwi-guide.by/surveys",
                tableName
            )
        when "event"
            +createDelModal(
                tableName,
                "Event is a BIG child table. BE VERY CAREFUL when deleting it.",
                "/api.wwi-guide.by/events",
                tableName
            )
        when "armament"
            +createDelModal(
                tableName,
                "Armament is a BIG child table. BE VERY CAREFUL when deleting it.",
                "/api.wwi-guide.by/armament",
                tableName
            )



